.input-full-width {
    width: 95%;
  }
  .box{
      align-items: center;
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .register-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    height: 150px;
    width: 150px;
    
  }
  
  .botton{
    margin-right: 15px;
    float: left;
  }
  .custom-button{
  border-radius: 50px;
  width:180px;
  height:50px;
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: solid;
  }

  