

<div class="box">
  <div mat-card-avatar class="register-header-image"></div>

</div>
<div class="box">
  <div class="botton"><button mat-raised-button color="warn" (click)="openFile()">Change Image
    <input type="file" style="display:none" (change)="handle($event)">
  </button></div>
  <button mat-raised-button color="primary" >View profile</button>
</div>

<div class="box">
  
  <mat-card style="align-items: center; border-radius: 10%; padding: 5%;" >
    <mat-form-field appearance="outline" class="input-full-width">
      <mat-label>Fist name</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>edit</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-full-width">
      <mat-label>Last name</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>edit</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-full-width">
      <mat-label>Date of birth</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint>click the icon</mat-hint>
    </mat-form-field>
    
    

    <mat-form-field appearance="outline" class="input-full-width">
      <mat-label>Occupation</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>edit</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-full-width">
      <mat-label>company name</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>edit</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </mat-card>
</div>

<div class="box">
<button mat-raised-button color="warn" class="custom-botton">discard chages</button>
<button mat-raised-button color="primary">Save</button>
</div>

