mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

ul {
  li {
    list-style: none;
  }
}
button {
  outline: none;
  border: 0;
  background: transparent;
}
.user {
  font-size: 14px;
}
mat-toolbar {
  background: #f7f7f7;
}


.search{
  width: 20%;
  height: 2%;
  border-radius: 50px;
  background-color: lightslategray;
  
}

input:focus, textarea:focus, select:focus{
  outline: none;
}
.pp{
outline: none;
background-color: lightslategray;
border-top-style: hidden;
border-bottom-style: hidden;
border-left-style: hidden;
border-right-style: hidden;

}

