<div class="content">
    <mat-card class="card">

        <mat-card-header>
            <div mat-card-avatar class="register-header-image"></div>
            <mat-card-title> {{username}}</mat-card-title>
            <mat-card-subtitle>Engineer</mat-card-subtitle>
            <mat-card-title style="display: flex;">
                <h1>The companyhhhhhhhhhhhh</h1>
            </mat-card-title>
        </mat-card-header>


        <mat-card-content>
            <p>

                archiviamo informazioni quali cookie su un dispositivo
                (e/o vi accediamo) e trattiamo i dati personali, quali gli identificativi unici e
                informazioni generali inviate da un dispositivo, per personalizzare gli annunci e i
                contenuti, misurare le prestazioni di annunci e contenuti, ricavare informazioni sul
                pubblico e anche per sviluppare e migliorare i prodotti.


            </p>
        </mat-card-content>
        <hr style="height: 2px;">
        <mat-card-footer>
            <button mat-icon-button [color]="buttonColor" aria-label="Example icon-button with a heart icon"
                (click)="liked($event)">
                <mat-icon>favorite</mat-icon>
            </button>
            <span class="material-icons"> apple</span>
        </mat-card-footer>

    </mat-card>




    <mat-card class="card">

        <mat-card-header>

            <div mat-card-avatar class="register-header-image"></div>
            <mat-card-title> {{username}}</mat-card-title>
            <mat-card-subtitle>Engineer</mat-card-subtitle>


            <mat-card-title style="display: flex;">
                <h1>The companyhhhhhhhhhhhh</h1>
            </mat-card-title>


        </mat-card-header>


        <mat-card-content>
            <p>

                archiviamo informazioni quali cookie su un dispositivo
                (e/o vi accediamo) e trattiamo i dati personali, quali gli identificativi unici e
                informazioni generali inviate da un dispositivo, per personalizzare gli annunci e i
                contenuti, misurare le prestazioni di annunci e contenuti, ricavare informazioni sul
                pubblico e anche per sviluppare e migliorare i prodotti.


            </p>
        </mat-card-content>

        <mat-card-footer>
            <mat-divider></mat-divider>
            <mat-icon>favorite_border</mat-icon>
            <span class="material-icons">
                apple
            </span>
        </mat-card-footer>

    </mat-card>

</div>